/* index.css */

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  color: lime;
  font-family: monospace, monospace;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

input, button, textarea, select {
  border: none;
  outline: none;
  background: black;
  color: lime;
  font-family: monospace, monospace;
}

.terminal {
  height: 100vh;
  padding: 1rem;
  overflow-y: auto;
  background: black;
  color: lime;
}